* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --blue-200: #025bf8;
    --blue-500: #013ed2;
    --blue-800: #002D62;
    --black-800: #171717;
    --gray-200: #cccccc;
    --gray-400: #505861;
    --white: #F9F9F9;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

button, a {
    cursor: pointer;
}

.menu-container {
    width: 100%;
    background-color: var(--blue-800);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--blue-200);
    filter: opacity(0.9);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--white);
}

.logo {
    width: 30%;
    height: 30%;
}

.navbar {
    display: flex;
}

.navbar li,
a {
   text-decoration: none;
   list-style: none;
   margin-right: 20px;
   color: var(--white);
   font-size: 18px;
   font-weight: bold;
}

.navbar a:hover {
    color: var(--blue-200)
}

.start-container {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
}

.start-container img {
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

.start-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

.start-content h2 {
    color: #002D62;
    font-size: 38px;
    margin: -20px 0;
}
.start-content p {
    margin:-10px 20px -10px 0;
    text-align: justify;
}

.career-container {
    background-color: var(--blue-800);
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0;
}

.career-container h2 {
    color: var(--blue-200);
    font-size: 40px;
    margin-bottom: 20px;
}

.career-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    color: var(--white);
    height: 70vh;
}

.ford-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    border: 1px solid var(--blue-500);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
}

.ford-container h3 {
    font-size: 22px;
}

.ford-container h3, 
p {
    margin-bottom: 12px
}

.ford-container iframe {
    margin: 5px 0;
    border-radius: 5px;
}

.f3-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    border: 1px solid var(--blue-500);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
}

.f3-container h3 {
    font-size: 22px;
}

.f3-container h3, 
p {
    margin-bottom: 12px
}

.f3-container iframe {
    border-radius: 5px;
}

.f1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    border: 1px solid var(--blue-500);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
}

.f1-container h3 {
    font-size: 22px;
}

.f1-container h3, 
p {
    margin-bottom: 12px
}

.f1-container iframe {
    border-radius: 5px;
}

.info-container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    margin: 20px 20px;
    padding: 5px;
}

.more-container {
    
}